<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kunal.tnt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".enroll.ui.SplashActivity">

        </activity>

        <activity android:name=".enroll.ui.WalkThroughActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".enroll.ui.LoginActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".enroll.ui.SignUpActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".createfeed.ui.CreateFeedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".favourites.ui.FavouritesActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".feeddetail.FeedDetailActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".videos.ui.VideoViewActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".home.ui.HomeActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".enroll.ui.SelectInterestsActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>